#jumbotron::after{
  display: table;
  content: "";
  clear: both;
}
#jumbotron{
  @include size;
  a{
    text-decoration: none;
  }
  div{
    float: left;
    width: 50%;
    h1{
      font-size: 50px;
      color: $brown;
    }
    p{
      color: $brown;
      font-size: 22px;
      margin: 40px 0px;
    }
    span{
      margin-right: 10px;
    }
    .button{
      @include buttons;
    }
    img{
      max-width: 100%;
      height: auto;
    }
  }
}
